body, html {
  background-color:black;
}

table{
  margin: auto;
}

td {
  background-color: #3498db; /* Peter River */
  width:56px;
  height:56px;
  position: relative;
  margin:8px;
  text-align: center;
}

#subtitle, #title, #author {
  color:white;
  text-align: center;
}


#rs {
  text-align: center;
  margin-top:32px;
}

#rs a{
  color:white;
  margin-right:0.8em;
}

.player1, .player2 {
  border-radius: 48px;
  width: 48px;
  height: 48px;
  display: inline-block;
  -webkit-animation: bounceInDown 0.5s 1;
  -moz-animation: bounceInDown 0.5s 1;
  -o-animation: bounceInDown 0.5s 1;
  animation: bounceInDown 0.5s 1;
}

.player1 {
  background-color: #e74c3c; /* Alizarin */
}

.player2 {
  background-color: #f9ca24; /* Turbo */
}

.btn{
  border: 2px solid #3498db;
  border-radius: 8px;
  background-color: black;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.8s;
}
.btn:hover{
  background-color: #3498db;
}

#adText{
  margin-top: 24px;
  text-align: center;
  color:white;
}

#buttonField{
  text-align: center;
  margin-top: 32px;
}

@-webkit-keyframes bounceInDown{
  0%, 60%, 75%, 90%, 100%{
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0%{
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60%{
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75%{
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90%{
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  100%{
    -webkit-transform: none;
    transform: none;
  }

}

@keyframes bounceInDown{
  0%, 60%, 75%, 90%, 100%{
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0%{
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60%{
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75%{
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90%{
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  100%{
    -webkit-transform: none;
    transform: none;
  }
}


/* Twisted letters */

.animate span {
    display: inline-block;
}

.animate span:nth-of-type(2) {
    animation-delay: .05s;
}
.animate span:nth-of-type(3) {
    animation-delay: .1s;
}
.animate span:nth-of-type(4) {
    animation-delay: .15s;
}
.animate span:nth-of-type(5) {
    animation-delay: .2s;
}
.animate span:nth-of-type(6) {
    animation-delay: .25s;
}
.animate span:nth-of-type(7) {
    animation-delay: .3s;
}
.animate span:nth-of-type(8) {
    animation-delay: .35s;
}
.animate span:nth-of-type(9) {
    animation-delay: .4s;
}
.animate span:nth-of-type(10) {
    animation-delay: .45s;
}
.animate span:nth-of-type(11) {
    animation-delay: .5s;
}
.animate span:nth-of-type(12) {
    animation-delay: .55s;
}
.animate span:nth-of-type(13) {
    animation-delay: .6s;
}
.animate span:nth-of-type(14) {
    animation-delay: .65s;
}
.animate span:nth-of-type(15) {
    animation-delay: .7s;
}
.animate span:nth-of-type(16) {
    animation-delay: .75s;
}
.animate span:nth-of-type(17) {
    animation-delay: .8s;
}
.animate span:nth-of-type(18) {
    animation-delay: .85s;
}
.animate span:nth-of-type(19) {
    animation-delay: .9s;
}
.animate span:nth-of-type(20) {
    animation-delay: .95s;
}
.animate span:nth-of-type(21) {
    animation-delay: .96s;
}
.animate span:nth-of-type(22) {
    animation-delay: .97s;
}
.animate span:nth-of-type(23) {
    animation-delay: .98s;
}
.animate span:nth-of-type(24) {
    animation-delay: .99s;
}


.twister-letters span {
    opacity: 0;
    transform: translate(200px, -100px) scale(2);
    animation: ballDrop .3s forwards;
}

@keyframes ballDrop {
    60% {
        transform: translate(0, 20px) rotate(-180deg) scale(.5);
    }

    100% {
        transform: translate(0) rotate(0deg) scale(1);
        opacity: 1;
    }
}
